body{
    background-image: url("img/tobg.jpg") ;
    /*background-size: cover ;*/
    /*background-position: 1px 1px;*/

}

#loginform{
    border: 2px solid #343333;
    width: 180px;
    display: block;
    padding: 20px;
    margin: 20% auto 0 auto;
    background: #fafafa;
    /*opacity: 0.5;*/
    position: relative;
    text-align: center;
}

form input{
display: inline-block;
margin: 0px 0px 0px 0px;
}

form input[type=submit]{
    margin-top: 20px;
}


#messages{
    /*padding: 2px 0px 2px 0px;*/
    color: #fff;
    background-color: #d97171;
    display: none;
    margin: 0 auto 0 auto;
}

#messages p{
    padding: 2px 0px 2px 0px;
}
